@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

.profile-img {
    width: 90px;
    height: 90px;
    position: relative;
    left: 100px;
}

.nav-item {
    position: relative;
    left: 900px;
    float: right;
    margin: 10px 50px 10px 50px;
    font-size: 22px;
}


.nav-cost {
    position: relative;
    right: 0px;
}

.custom-nav {
    background-color: rgb(49 53 124);
}

.name-info {
    text-align: center;
}

.name-info img {
    width: -webkit-fill-available;
    height: 100vh;
}

.name-info h1 {
    position: absolute;
    top: 470px;
    left: 1000px;
    color: #ffff;
    font-size: 100px;
    font-weight: 100;
    font-family: 'Russo One', sans-serif;
    text-align: center;
}

.name-info h3 {
    position: absolute;
    top: 580px;
    left: 1000px;
    color: white;
    font-family: 'Russo One', sans-serif;
}

#profile-poster{
    position: absolute;
    top: 250px;
    left: 80px;
    height: 600px;
    width: 600px;
    border: solid #316698 10px;
    border-radius: 300px;
}

.info img{
    height: 200px;
    width: 200px;
    margin-top: 50px;
}

.info h1{
    text-align: center;
    margin-top: 20px;
}

.info p{
    text-align: center;
    margin-top: 20px;
    font-weight: bolder;
    font-size: larger;
}

.info-2 h1{
    text-align: center;
    /* width: max-content; */
}

.info-2 img{
    width: 200px;
    height: 200px;
    position: relative;
    top: 50px;
    left: 200px;
}

.info-2 p{
    margin-top: 20px;
    font-weight: bold;
    position: relative;
    left: 477px;
    bottom: 119px;
    font-size: larger;
    width: fit-content;
}

.info-2 h2{
    position: relative;
    left: 477px;
    bottom: 110px;
    font-size: 40px;
    font-weight: bolder;
    width: max-content;
}


.info-3 h1{
    position: relative;
    left: 480px;
    width: max-content;
    font-weight: bolder;
}

.info-3 p{
    position: relative;
    left: 480px;
    width: max-content;
    font-weight: bold;
    font-size: larger;
}

.info-3 img{
    position: relative;
    height: 200px;
    width: 200px;
    left: 1175px;
    bottom: 170px;
}

.divide img{
    height: 180px;
    width: 250px;
    margin-top: 50px;
}


.info-sec{
    width: -webkit-fill-available;
    height: fit-content;
}


.help h1{
    text-align: center;
    font-weight: bolder;
    margin-bottom: 33px;
}

.help h2{
    text-align: center;
    font-weight: bold;
    margin-top: 33px;
}

.help p{
    text-align: center;
    margin-top: 33px;
    margin-bottom: 33px;
}

.cust-btn{
    text-align: center;
    margin-bottom: 33px;
    width: 300px;
}

.social-btn{
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cust-card{
    background-color: aqua;
}