@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

.profile-img {
    width: 90px;
    height: 90px;
    position: relative;
    left: 100px;
}

.nav-item {
    position: relative;
    left: 900px;
    float: right;
    margin: 10px 50px 10px 50px;
    font-size: 22px;
}


.nav-cost {
    position: relative;
    right: 0px;
}

.custom-nav {
    background-color: rgb(54 5 156);
}

.name-info {
    text-align: center;
}

.name-info img {
    width: -webkit-fill-available;
    height: 100vh;
}

.name-info h1 {
    position: absolute;
    top: 163px;
    right: 70px;
    color: white;
    font-size: 60px;
    font-family: 'Russo One', sans-serif;
}

.name-info h3 {
    position: absolute;
    top: 235px;
    right: 70px;
    color: white;
    font-family: 'Russo One', sans-serif;
}